################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/FileAnalyzer/v16/TestStore/0/082.testlog
